In [1]:
import mysql.connector

In [2]:
config = {
    "host": "localhost",
    "port": 3306,
    "user": "skn14",
    "password": "skn14",
    "database": "users"
}

In [3]:
def create_user_fav_table():
    try:
        with mysql.connector.connect(**config) as conn:
            with conn.cursor() as cursor:
                cursor.execute('''
                    CREATE TABLE IF NOT EXISTS user_fav (
                        id INT AUTO_INCREMENT PRIMARY KEY,
                        user_id VARCHAR(50) NOT NULL,
                        parking_id INT NOT NULL,
                        UNIQUE KEY unique_user_parking (user_id, parking_id)
                    )
                ''')
                conn.commit()
                print("user_fav 테이블 생성")
    except mysql.connector.Error as e:
        print("테이블 생성 오류:", e)

In [4]:
def add_to_favorite(user_id, parking_id):
    try:
        with mysql.connector.connect(**config) as conn:
            with conn.cursor() as cursor:
                cursor.execute('''
                    INSERT INTO user_fav (user_id, parking_id)
                    VALUES (%s, %s)
                ''', (user_id, parking_id))
                conn.commit()
                print("즐겨찾기 등록")
    except mysql.connector.Error as e:
        if e.errno == 1062:  # 중복 에러 (UNIQUE)
            print("⚠중복된 즐겨찾기")
        else:
            print("DB 오류:", e)

In [5]:
def get_favorite_list(user_id):
    try:
        with mysql.connector.connect(**config) as conn:
            with conn.cursor() as cursor:
                cursor.execute('''
                    SELECT parking_id
                    FROM user_fav
                    WHERE user_id = %s
                ''', (user_id,))
                result = cursor.fetchall()
                return [row[0] for row in result]
    except mysql.connector.Error as e:
        print("DB 오류:", e)
        return []

In [7]:
create_user_fav_table()

# add_to_favorite('user02', 5)
#
# favorites = get_favorite_list('user02')
# print("즐겨찾기한 주차장:", favorites)

테이블 생성 오류: 1044 (42000): Access denied for user 'skn14'@'%' to database 'users'